# Ignorar banco de dados SQLite
*.db

# Ignorar arquivos de cache do Python
__pycache__/

# Ignorar virtual environments
env/
.venv/

# Ignorar arquivos de log
*.log

# Ignorar configurações do VSCode
.vscode/
